.top a{
    text-decoration: none;
     float: right !important;
     color: rgb(2, 2, 2);
     margin-left: 155px;
     letter-spacing: 3px;
     font-weight: bold;
}
.to{margin-left: 15px;}


.footer{
    background-color: azure;
    padding: 70px 0;
}
.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #030303;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight:900;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}

.footer-col ul li:not(:last-child) {margin-bottom: 10px;

}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: rgb(53, 49, 49);
    text-decoration: none;
    font-weight: bold;
    display: block;
}


.footer-col ul li a:hover{
    color: #d1250e;
    padding-left:7px ;
}
.footer-col .social-links a{
    display: inline-block;
    width: 35px;
    background-color: #d1250e;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #f2f2f2;    

}

.footer-col .social-links a:hover{
    background-color: #f2f2f2;

}
